---
import { blogPostData } from '@/data/blogPostData'
---

<section class='min-h-[calc(100vh-64px)] bg-custom-orange py-24'>
  <div class='section-container mx-auto'>
    <h2 class='section-title mb-16 text-center text-white'>
      Recursos Esenciales del Kit de Datos Abiertos
    </h2>

    <section
      class='flex flex-wrap justify-center gap-y-8 md:flex-wrap lg:flex-row lg:flex-nowrap lg:justify-between lg:gap-x-8 lg:gap-y-0'>
      {
        blogPostData.map(post => {
          return (
            <a href={post.postUrl}>
              <article class='grid cursor-pointer place-content-center place-items-center gap-8 rounded-xl bg-white p-8 transition-transform hover:scale-[1.01]'>
                <img
                  class='order-1 w-full max-w-40 rounded-xl'
                  src={post.imageUrl}
                  alt={post.title}
                />
                <div class='order-2'>
                  <h3 class='section-title mb-8'>{post.title}</h3>
                  <p class='section-subtitle mb-8'>{post.description}</p>
                  <footer class='fonf-modium tent-medium text-se'>
                    <span>
                      {post.tags.map(tag => {
                        return <span>{tag}</span>
                      })}
                    </span>
                    <span> | </span>
                    <span>{post.date}</span>
                  </footer>
                </div>
              </article>
            </a>
          )
        })
      }
    </section>
  </div>
</section>
