---
import HeaderPage from '@/components/HeaderPage.astro'
import FooterPage from '@/components/FooterPage.astro'
import '@/styles/main.css'
import 'flowbite'

interface Props {
  currentUrl: string
  titlePage: string
  descriptionPage: string
  isWhiteBg?: boolean
}

const { titlePage, descriptionPage, currentUrl, isWhiteBg = false } = Astro.props
---

<!doctype html>
<html lang='es' class='scroll-pt-10 scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{titlePage}</title>
    <meta name='title' content={titlePage} />
    <meta name='description' content={descriptionPage} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content=`https://ia.gobiernoabierto.ec/${currentUrl ?? null}` />
    <meta property='og:title' content={titlePage} />
    <meta property='og:description' content={descriptionPage} />
    <meta property='og:image' content='https://i.postimg.cc/T2g88KLF/ferraraworking-ferrara.png' />
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content=`https://ia.gobiernoabierto.ec/${currentUrl ?? null}` />
    <meta property='twitter:title' content={titlePage} />
    <meta property='twitter:description' content={descriptionPage} />
    <meta
      property='twitter:image'
      content='https://i.postimg.cc/T2g88KLF/ferraraworking-ferrara.png'
    />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class='relative overflow-x-hidden bg-white'>
    <div
      class:list={[
        { hidden: isWhiteBg },
        {
          'absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]':
            !isWhiteBg
        }
      ]}>
    </div>

    <HeaderPage transition:persist />
    <main>
      <slot />
    </main>
    <FooterPage />
    <script src='../../node_modules/flowbite/dist/flowbite.min.js'></script>
  </body>
</html>
